
@import url('img/squares.svg');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#top {
    background-image: url(https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    height: 100px;
    padding-top: 82px;
}


h1 {
    float: left;
    padding-left: 75px;
    font-size: 40px;
    font-variant: small-caps;
}

#nav-bar{
    width: 100%;
    float: none;
    background-color: black;
    padding: 5px 0 5px 0;
    }
    
li {
    display: inline;
    margin-left: 17%;
}

.nav-link {
    text-decoration: none;
    color: #fff;
}

#header {
    width: 100%;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.title-two {
    text-align: center;
    text-transform: uppercase;
    margin-top: 2%;
}
.social-link {
    color: #000;
}
.redes {
    margin-left: 20%;
    margin-top: 5%;
}

.highligliter {
    background-color: yellow;
}
.video {
    box-shadow: -3px 3px #000;
    position: relative;
}

@media screen and (min-width:800px) {
    .container {
        display: flex;
        flex-basis: auto;
    }
  }

.button {
  border-radius: 0;
  border: 1px solid #000;
  padding: 0.5em; 
  text-decoration: none;
}

.h2-skills {
    margin-top: 40px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    padding: 10px 0 10px 20px;
}

.skills {
    display: flex;
    margin-top: 0;
    color: #fff;
    background-color: #000;
}
.skills h3 {
    margin-left: 20px;
    text-transform: uppercase;
}
.skills p {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 25px;
}

#dates h2 {
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    padding: 10px 0 10px 20px;
}
.starting-dates {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid grey;
    text-align: justify;
    box-shadow: -3px 3px #000;
    padding: 1em;
    margin-left: 60px;
    margin-right: 60px;
}
.starting-dates h3 {
    text-transform: uppercase;
}
.button-dates {
    border-radius: 0;
    border: 3px solid #000;
    padding: 0.5em; 
    text-decoration: none;
    margin-left: 30%;
    margin-right: 30%;
}


#campus h2 {
    background-color: #000;
    color:#fff;
    text-transform: uppercase;
    padding: 10px 0 10px 20px;
}
.campus  {
    margin: 0 auto;
    text-align: center;
}

.campus img{
    padding-right: 20px;
}

footer {
    background-color: #000;
    color:#fff;
    text-align: center;
}